@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-bg:#ffffff;
    --color-primary:#0E1734;
    --color-text-pr:#192252;
    --color-text-st:#848FAC;
    --color-text-btn:#FFFFFF;

    --font-family: "Inter", sans-serif;
    --second-family: "Montserrat", sans-serif;

    --padding-btn: 16px 32px;
    --layout-width: 1440px;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--color-bg);
}

a {
    text-decoration: none;
}